@charset "UTF8";

body {
    padding: 0%;
    margin: 0%;
}

header {
    background-color: black;
    padding: 50px;
}

h1 {
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
    color: white;  
    display: block;
    text-align: center;  
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.8vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;

}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}